.App {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem; /* Taille du titre */
  font-weight: bold;
  color: #4b5563; /* Couleur grise pour le titre */
  margin-top: 2rem;
  text-align: center;
}